body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-45px;
  width:404px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:40px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u2412 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2412_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2414 {
  position:absolute;
  left:45px;
  top:98px;
}
#u2414_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2414_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  display:flex;
}
#u2415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2415_img.focused {
  left:-5px;
  top:-5px;
  width:22px;
  height:22px;
}
#u2415.focused {
}
#u2415_img.disabled {
}
#u2415.disabled {
}
#u2415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2414_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2414_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 169, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  display:flex;
}
#u2417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2417_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(64, 169, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
  -webkit-box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
  box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
}
#u2417.focused {
}
#u2417_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2417.disabled {
}
#u2417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  height:8px;
  display:flex;
}
#u2418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2414_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2414_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  display:flex;
}
#u2419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2419_img.focused {
  left:-5px;
  top:-5px;
  width:22px;
  height:22px;
}
#u2419.focused {
}
#u2419_img.disabled {
}
#u2419.disabled {
}
#u2419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  height:8px;
  display:flex;
}
#u2420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2420_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
  -webkit-box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
  box-shadow:0px 0px 5px rgba(64, 169, 255, 1);
}
#u2420.focused {
}
#u2420_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420.disabled {
}
#u2420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:96px;
  width:134px;
  height:16px;
  display:flex;
}
#u2421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2422 label {
  left:0px;
  width:100%;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:73px;
  width:99px;
  height:16px;
  display:flex;
  font-size:14px;
}
#u2422 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u2422_img.selected {
  left:-5px;
  top:-3px;
  width:22px;
  height:22px;
}
#u2422.selected {
}
#u2422_img.disabled {
}
#u2422.disabled {
}
#u2422_img.selectedDisabled {
}
#u2422.selectedDisabled {
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:83px;
  word-wrap:break-word;
  text-transform:none;
}
#u2422_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425 .text {
  position:absolute;
  align-self:center;
  padding:8px 16px 8px 16px;
  box-sizing:border-box;
  width:100%;
}
.u2425_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425.mouseOver {
}
.u2425_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425.mouseDown {
}
.u2425_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425.selected {
}
.u2425_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
  text-align:left;
}
.u2425.disabled {
}
.u2425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2424-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u2424-2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:32px;
}
#u2424-3 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:32px;
}
#u2424-4 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:0px;
  width:74px;
  height:32px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:125px;
  width:296px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:125px;
  width:36px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#1890FF;
}
#u2426 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u2426_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2426.mouseOver {
}
#u2426_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2426.mouseDown {
}
#u2426_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2426.selected {
}
#u2426_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2426.disabled {
}
#u2426_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:125px;
  width:36px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#1890FF;
}
#u2427 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u2427_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2427.mouseOver {
}
#u2427_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2427.mouseDown {
}
#u2427_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2427.selected {
}
#u2427_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2427.disabled {
}
#u2427_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  display:flex;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429 .text {
  position:absolute;
  align-self:center;
  padding:2px 16px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
.u2429_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429.mouseOver {
}
.u2429_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 109, 217, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429.mouseDown {
}
.u2429_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429.selected {
}
.u2429_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(191, 191, 191, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(85, 85, 85, 0.996078431372549);
  text-align:left;
  line-height:22px;
}
.u2429.disabled {
}
.u2429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2428-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:32px;
}
#u2428-2 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:0px;
  width:74px;
  height:32px;
}
#u2428-3 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:0px;
  width:74px;
  height:32px;
}
#u2428-4 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:0px;
  width:74px;
  height:32px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:166px;
  width:320px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:166px;
  width:36px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#1890FF;
}
#u2430 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u2430_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2430.mouseOver {
}
#u2430_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2430.mouseDown {
}
#u2430_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2430.selected {
}
#u2430_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2430.disabled {
}
#u2430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:166px;
  width:36px;
  height:32px;
  display:flex;
  font-size:14px;
  color:#1890FF;
}
#u2431 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u2431_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2431.mouseOver {
}
#u2431_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2431.mouseDown {
}
#u2431_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2431.selected {
}
#u2431_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#1890FF;
}
#u2431.disabled {
}
#u2431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
