body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-27px;
  width:79px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:25px;
  width:79px;
  height:24px;
  display:flex;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155 .text {
  position:absolute;
  align-self:center;
  padding:4px 4px 4px 4px;
  box-sizing:border-box;
  width:100%;
}
#u155_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155.mouseOver {
}
#u155_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155.mouseDown {
}
#u155_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155.selected {
}
#u155_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-decoration:underline ;
  color:#FF3399;
  text-align:left;
}
#u155.disabled {
}
#u155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
